body {
  line-height: 0%;
}
textarea {
  padding: 10px;
  width: 200px;
  height: 200px;
}
.title {
text-align:center;
font-size: 20px;
}
.rqform {
  resize: none;
  width: 300px;
  height: 270px;
}
input,
textarea {
  text-align: left;
  outline: none;
  border: 1px solid black;
}
button:focus,
input:focus,
textarea:focus {
  box-shadow: rgba(234, 0, 255, 0.8) 0px 5px 15px;  
  border: 1px solid black;
  border-radius: 4px;
}
.successmes{
  line-height: 50px;
}


