.img1{
  height: 100px;
  width: auto;
}
.link{
  text-align: right;
}
.grid-container {
  display: grid;
  grid-gap: 0px;
  padding: 0px;
}
.grid-container /* parent*/ > div /* children*/ {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0px;
  overflow: hidden;
}
.iframe1{
  width: 695px;
  height: 790px;
  border: transparent;
}
.iframe2 {
  width: 550px;
  height: 790px;
  border: solid 1px black;
  border-radius: 2%;
}
.item1 {
  grid-area: 1/1/2/2;
  width: 700px;
}
.item2 {
  grid-area: 1/2/2/3;
}


