.topic {
  resize: none;
  width: 300px;
  height: 270px;
}
textarea {
  padding: 10px;
  width: 200px;
  height: 200px;
  border-radius: 4%;
}
input,
textarea {
  text-align: left;
  outline: none;
  border: 1px solid black;
  padding: 5px;
}
input {
  width: 180px;
  border-radius: 4%;
}
button:focus,
input:focus,
textarea:focus {
  box-shadow: rgba(234, 0, 255, 0.8) 0px 5px 15px;
  border: 1px solid black;
  border-radius: 4px;
}
