body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 5px;
}
.grid-container /* parent*/ > div /* children*/ {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  padding: 10px;
  overflow: hidden;
}
.title {
  grid-area: 1/1/2/4;
  text-align: center;
}

.iframe1,
.iframe2 {
  width: 400px;
  height: 790px;
}
iframe {
  width: 400px;
  height: 395px;
}
.item2 {
  grid-area: 2/1/7/2;
}
.item3 {
  grid-area: 2/2/7/3;
}
.item4 {
  grid-area: 2/3/4/4;
}
.item5 {
  grid-area: 5/3/7/4;
}
